@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');
header {
    color: white;
    background-color: #1e3a8a; 
    text-align: center;
    width: 100%;
    margin: 0 auto; /*centers the block elemment*/
    border-radius: 5px; /*round the borders of a block*/
    border: 3px solid #3b82f6;
    padding: 20px; /*space between border and content*/
    font-family: 'Bitcount Single', monospace;
}

#contactUs {
    text-align: center;
    color: #1e3a8a;
    font-family: 'Bitcount Single', monospace;
}

.navigation {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Bitcount Single', monospace;
}

.navigation a {
    margin: 0 15px;
    text-decoration: none;
    color: #1e3a8a;
    font-weight: bold;
}

.navigation a.active {
    color: #06b6d4;
}

.navigation a:hover {
    color: #3b82f6;
}

hr {
    border: 2px solid #3b82f6;
    margin: 20px 0;
    border-radius: 5px;
}

#contactForm {
  background-color: #e0f2fe;
  display: block;
  margin: 0 auto;
  border: 5px solid #3b82f6;
  border-radius: 10px;
}

.contenu {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-family: 'Bitcount Single', monospace;
    color: #1e293b;
}

.contenu-lists p{
    text-align: center;
    width: 18%;
    margin: 0 auto;
    font-family: 'Bitcount Single', monospace;
    color: #1e293b;
}

.contenu-lists ul{
    text-align: left;
    width: 18%;
    margin: 0 auto;
    font-family: 'Bitcount Single', monospace;
    color: #1e293b;
}

.imageDegree {
    height: 200px;
    width: 200px;
    border: 5px solid #3b82f6;
    border-radius: 5px;
    object-fit: cover;
}

#divDegree {
    flex-wrap: wrap;
    display: flex;
    justify-content: center; 
}

.caption {
    text-align: center;
    font-family: 'Bitcount Single', monospace;
    color: #1e293b;
    margin-bottom: 40px;
}

.tableau {
  border-collapse: collapse;
  width: 100%;
  font-family: 'Bitcount Single', monospace;
  table-layout: fixed;
}

.tableau th {
  width: 50%;
  text-align: center;
  background: #1e3a8a;
  color: white;
  padding: 12px;
  border: 3px solid #3b82f6;
  font-family: 'Bitcount Single', monospace;
}

.tableau td {
  width: 50%;
  text-align: center;
  padding: 12px;
  border: 3px solid #3b82f6;
}

.tableau tr:hover {
  background-color: #dbeafe;
}

footer {
  background-color: #1e3a8a;
  color: rgb(234, 209, 209);
  border: 3px solid #3b82f6;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Bitcount Single', monospace;
}

footer img {
  width: 80px;
  margin-bottom: 10px;
  border-radius: 5px;
}

footer p {
  margin: 5px 0;
  font-size: 65%;
}

.form-style {
  max-width: 350px;
  margin: 40px auto;
  background: #1e3a8a;
  padding: 25px;
  border-radius: 12px;
  border: 2px solid #3b82f6;
  color: white;
  font-family: 'Bitcount Single', monospace;
  box-shadow: 0 4px 15px rgba(59,130,246,0.25);
}

* {
  box-sizing: border-box;
}